
:root {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -350px;
}

.App {
  background-color: #F3EFEE;
  border-radius: 5px;
  box-shadow: 5px 5px #E0D8D5;
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.formLogin {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App input {
  background-color: #F3EFEE;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid #948F8D;
  border-right: 1px solid #948F8D;
  border-left-style: hidden;
  border-top-style: hidden;
  width: 200px;
  height: 50px;
  text-align: center;
}


.formLogin button {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  margin-top: 30px;
  color: black;
}

.Chat {
  background-color: #F3EFEE;
  border-radius: 5px;
  box-shadow: 5px 5px #E0D8D5;
  width: 370px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Chat-Input {
  width: 80%;
}

textarea {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
}

.Chat button {
  width: 20%;
  height: 50px;
}

.Message-Container {
  height: 70%;
  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
}

.bottom {
  width: 80%;
  display: flex;
}

.sendButton {
  width: 100px;
  height: 50px;
  border-radius: 8px;
}

.formChatview {
  display: flex;
  align-items: flex-end;
}

.divCount {
  padding-top: 8px;
  padding-bottom: 8px;
}

.bottomLogout {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.logOut {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 30px;
  color: black;
}

.addingDiv {
  height: 20px;
  width: 300px;
  margin: 0px;
}

.addingP {
  padding-top: 8px;
}

